body {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family:'Poppins';
  background-color: black;
  color: #fff;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.song {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
}

button {
  background-color: #1db954;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}